<div ng-controller="appVersion">
    <h2 class="sub-header">APP版本管理</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-primary btn-sm">增加</button>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>客户端版本号</th>
                        <th>客户端版本名称</th>
                        <th>是否强制更新</th>
                        <th>是否局部更新</th>
                        <th>Apk名称</th>
                        <th>Apk下载地址</th>
                        <th>下载方式</th>
                        <th>修改时间</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>7</td>
                        <td>1.1.1</td>
                        <td>强制更新</td>
                        <td>全局更新</td>
                        <td>DKONGJIAN</td>
                        <td>http://appbag.dkongjian.cn/1458453121927-baopin-M5.jpg</td>
                        <td>窗口</td>
                        <td>2016-3-20</td>
                        <td>2016-3-20</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
