<ul class="nav nav-sidebar">
    <li ng-class="{active:home}"><a ui-sref="index"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
    <li ng-class="{active:appVersion}"><a ui-sref="index.appVersion"><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;APP版本发布</a></li>
    <li ng-class="{active:verifyInfo}"><a ui-sref="index.verifyInfo"><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;核销分佣信息报表</a></li>
    <li ng-class="{active:reserveInfo}"><a ui-sref="index.reserveInfo"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;样板房预约客户信息</a></li>
    <li ng-class="{active:dailyInfo}"><a ui-sref="index.dailyInfo"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;运营日常信息查询</a></li>
</ul>