<ul class="nav nav-sidebar">
    <li ng-class="{active:coupon}"><a ui-sref="index.promotion.coupon"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;优惠券管理</a></li>
    <li ng-class="{active:commission}"><a ui-sref="index.promotion.commission"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;佣金管理</a></li>
    <li ng-class="{active:activity}"><a ui-sref="index.promotion.activity"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;活动管理</a></li>
    <li ng-class="{active:gift}"><a ui-sref="index.promotion.gift"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;礼包管理</a></li>
</ul>